<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BlobConnectionString" value="BlobEndpoint=https://jymstoretest.blob.core.chinacloudapi.cn/;QueueEndpoint=https://jymstoretest.queue.core.chinacloudapi.cn/;TableEndpoint=https://jymstoretest.table.core.chinacloudapi.cn/;AccountName=jymstoretest;AccountKey=EnH0Ru8rbUL8BCP5XkuR8ioHNr8UfHel/iS5zYjxKF8dLpXky7QPg3u8kf6wKXGCHholiWK8f09JbsaEUYnI+g==" />
    <add key="Redis" value="biz.dev.ad.jinyinmao.com.cn:6380,password=Aa111111" />
    <add key="PurchasePartitionKey" value="OldPurchaseOrder" />
    <add key="AssetIds" value="09D45A8E61A644368033FD849474DCEF" />
    <add key="NoIncludeAssetIds" value="" />
    <add key="MinAmount" value="1" />
    <add key="MaxAmount" value="10000000000" />
    <add key="SearchAssetAzureTable" value="AssetOnSellAssets1" />
    <add key="SearchYemUserProductAzureTable" value="AssetYEMUserProducts1" />
    <add key="WriteAssetAzureTable" value="AssetOnSellAssets1" />
    <add key="WriteYemUserProductAzureTable" value="AssetYEMUserProducts1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>